<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="{{ path('dashboard_index') }}"><img src="{{ asset('build/images/logo/bld-immo-noir.svg') }}" alt="Bld Immo Logo"></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">

            <li class="sidebar-title">{{ app.token.user.fullName }}<br />{{ app.token.user.company.name }}</li>

            <li class="sidebar-item">
                <a href="{{ path('dashboard_index') }}" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>{{ 'menu.main.items.dashboard'|trans }}</span>
                </a>
            </li>

            {% if is_granted('ROLE_MANAGER') %}
                <li class="sidebar-title">{{ 'menu.manager.title'|trans }}</li>

                <li class="sidebar-item">
                    <a href="{{ path('company_edit', {'id': app.token.user.company.id}) }}" class='sidebar-link'>
                        <i class="bi bi-building"></i>
                        <span>{{ 'menu.manager.company'|trans }}</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ path('user_index_by_company', {'id': app.token.user.company.id}) }}" class='sidebar-link'>
                        <i class="bi bi-person-circle"></i>
                        <span>{{ 'menu.manager.user'|trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="sidebar-title">{{ 'menu.admin.title'|trans }}</li>

                <li class="sidebar-item">
                    <a href="{{ path('company_index') }}" class='sidebar-link'>
                        <i class="bi bi-building"></i>
                        <span>{{ 'menu.admin.items.company'|trans }}</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ path('user_index') }}" class='sidebar-link'>
                        <i class="bi bi-person-circle"></i>
                        <span>{{ 'menu.admin.items.user'|trans }}</span>
                    </a>
                </li>
            {% endif %}

            <li class="sidebar-item">
                <a href="{{ path('app_logout') }}" class='sidebar-link'>
                    <i class="icon-mid bi bi-box-arrow-left"></i>
                    <span>{{ 'menu.user.logout'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
