<nav class="navbar navbar-expand navbar-light">
    <div class="container-fluid">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
            </div>
            <div class="dropdown">
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-menu d-flex">
                        <div class="user-name text-end me-3">
                            <h6 class="mb-0 text-gray-600">{{ user.fullName }}</h6>
                            <p class="mb-0 text-sm text-gray-600">
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ 'user.roles.admin'|trans }}
                                {% else %}
                                    {{ 'user.roles.admin'|trans }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="user-img d-flex align-items-center">
                            <div class="avatar avatar-md">
                                <img src="{{ asset('build/images/avatar.png') }}" alt="avatar">
                            </div>
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                            <i class="icon-mid bi bi-box-arrow-left me-2"></i> {{ 'vertical_nav.dropdown.logout'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
