<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
{#                <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>#}
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">{{ 'menu.main.title'|trans }}</li>
            <li class="sidebar-item">
                <a href="{{ path('dashboard_index') }}" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>{{ 'menu.main.items.dashboard'|trans }}</span>
                </a>
            </li>
            <li class="sidebar-title">{{ 'menu.admin.title'|trans }}</li>
            <li class="sidebar-item">
                <a href="{{ path('company_index') }}" class='sidebar-link'>
                    <i class="bi bi-building"></i>
                    <span>{{ 'menu.admin.items.company'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
