{% extends '_partials/_modal/_modal_form.html.twig' %}

{% set modalId = modalId %}

{% block modal_form_title %}{{ modalTitle }}{% endblock %}

{% block modal_form_body %}
    <div class="modal-body">
        <p>
            {% if modalAction == 'show' %}
                {{ 'project.show.contact.replace_by_existing_contact'|trans }}
            {% else %}
                {{ 'project.show.contact.add_by_existing_contact'|trans }}
            {% endif %}
        </p>
        {{ form_start(searchForm, {'attr': {'class': 'search-existing-contact'}}) }}
            <div id="search-existing-contact__input-group" class="search-existing-contact__input-group input-group">
                {{ form_widget(searchForm.search, {'attr': { 'class':'form-control search-existing-contact__search-bar', 'aria-describedby':'button-add-existing-'~contactType, 'data-url':url('contact_search', {'contactType':contactType} ) }}) }}
            </div>
            <div class="list-group search-existing-contact__list-group">

            </div>
            {{ form_widget(searchForm.contactType, {'attr': {'value': contactType}}) }}
        {{ form_end(searchForm) }}
        <div class="divider divider-left">
            <div class="divider-text">
                {% if modalAction == 'show' %}
                    {{ 'project.show.contact.edit_the_current_contact'|trans }}
                {% else %}
                    {{ 'project.show.contact.add_new_contact'|trans }}
                {% endif %}
            </div>
        </div>
        {{ form_start(contactForm, {'attr':{'class':'row'}}) }}
            {% if contactForm.estateAgencyName is defined %}
                <div class="form-group">
                    {{ form_label(contactForm.estateAgencyName) }}
                    {{ form_widget(contactForm.estateAgencyName, {'attr':{'class':'form-control'}}) }}
                </div>
            {% endif %}
            {% if contactForm.notaryOffice is defined %}
                <div class="form-group col-lg-6">
                    {{ form_label(contactForm.notaryOffice) }}
                    {{ form_widget(contactForm.notaryOffice, {'attr':{'class':'form-control'}}) }}
                </div>
            {% endif %}
            {% if contactForm.website is defined %}
                <div class="form-group col-lg-6">
                    {{ form_label(contactForm.website) }}
                    {{ form_widget(contactForm.website, {'attr':{'class':'form-control'}}) }}
                </div>
            {% endif %}
            {% if contactForm.companyName is defined %}
                <div class="form-group">
                    {{ form_label(contactForm.companyName) }}
                    {{ form_widget(contactForm.companyName, {'attr':{'class':'form-control'}}) }}
                </div>
            {% endif %}
            <div class="form-group col-lg-6">
                {{ form_label(contactForm.firstname) }}
                {{ form_widget(contactForm.firstname, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(contactForm.lastname) }}
                {{ form_widget(contactForm.lastname, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(contactForm.email) }}
                {{ form_widget(contactForm.email, {'attr':{'class':'form-control mb-1'}}) }}
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(contactForm.mobileNumber) }}
                {{ form_widget(contactForm.mobileNumber, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(contactForm.address.addressLine1) }}
                {{ form_widget(contactForm.address.addressLine1, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(contactForm.address.addressLine2) }}
                {{ form_widget(contactForm.address.addressLine2, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(contactForm.address.postalCode) }}
                {{ form_widget(contactForm.address.postalCode, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-lg-6">
                {{ form_label(contactForm.address.city) }}
                {{ form_widget(contactForm.address.city, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-actions d-flex justify-content-end">
                <button type="button" class="btn me-3" data-bs-dismiss="modal">
                    {{ 'project.show.contact.button.close'|trans }}
                </button>
                <button type="submit" class="btn btn-primary">
                    {% if modalAction == 'add' %}{{ 'contact.edit.form_field.submit'|trans }}{% else %}{{ 'contact.edit.form_field.edit'|trans }}{% endif %}
                </button>
            </div>
        {{ form_end(contactForm) }}
    </div>
{% endblock %}
