{% extends 'base_email.html.twig' %}

{% block content %}
    <h1>{{ 'email.reset_password_link.hi'|trans }}</h1>
    <p>{{ 'email.reset_password_link.to_reset_your_password'|trans }}</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ 'email.reset_password_link.reset_password_link'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>{{ 'email.reset_password_link.link_will_expire_in'|trans({'%expireTime%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}</p>
    <p>{{ 'email.reset_password_link.thanks'|trans }}</p>
{% endblock %}
