<div class="modal-body">
    {{ form_start(noteForm, {'attr':{'class':'row'}}) }}
    <div class="form-group">
        {{ form_widget(noteForm.content, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-actions d-flex justify-content-end">
        <button type="button" class="btn me-3" data-bs-dismiss="modal">
            {{ 'note.edit.button.close'|trans }}
        </button>
        <button type="submit" class="btn btn-primary">
            {{ 'note.edit.button.submit'|trans }}
        </button>
    </div>
    {{ form_end(noteForm) }}
</div>