{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>{{ company.name }}</h3>
                </div>
            </div>
        </div>
        <section class="section row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <tbody>
                                <tr>
                                    <th>{{ 'admin.company.field.name'|trans }}</th>
                                    <td>{{ company.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{'admin.company.field.created_at'|trans}}</th>
                                    <td>{{ company.createdAt ? company.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'admin.company.field.updated_at'|trans }}</th>
                                    <td>{{ company.updatedAt ? company.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="buttons d-flex flex-row">
                            <div class="justify-content-start">
                                <a class="btn btn-primary" href="{{ path('company_edit', {'id': company.id}) }}">{{ 'admin.company.button.edit'|trans }}</a>
                            </div>
                            {{ include('company/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="btn icon icon-left btn-outline-primary" href="{{ path('company_index') }}"><i class="bi bi-chevron-left"></i><span>{{ 'admin.company.button.back_to_list'|trans }}</span></a>
    </div>
{% endblock %}
