{% extends '_partials/_modal/_modal-form.html.twig' %}

{% set modalId = modalId %}

{% block modal_form_title %}{{ modalTitle }}{% endblock %}

{% block modal_form_body %}
    {{ form_start(contactForm) }}
    <div class="modal-body">
        {{ form_errors(contactForm) }}
        {% if contactForm.estateAgencyName is defined %}
            <div class="form-group">
                {{ form_label(contactForm.estateAgencyName) }}
                {{ form_widget(contactForm.estateAgencyName, {'attr':{'class':'form-control'}}) }}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_label(contactForm.firstname) }}
            {{ form_widget(contactForm.firstname, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.lastname) }}
            {{ form_widget(contactForm.lastname, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.email) }}
            {{ form_widget(contactForm.email, {'attr':{'class':'form-control mb-1'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.mobileNumber) }}
            {{ form_widget(contactForm.mobileNumber, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.address.addressLine1) }}
            {{ form_widget(contactForm.address.addressLine1, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.address.addressLine2) }}
            {{ form_widget(contactForm.address.addressLine2, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.address.postalCode) }}
            {{ form_widget(contactForm.address.postalCode, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(contactForm.address.city) }}
            {{ form_widget(contactForm.address.city, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">{{ 'project.show.contact.button.close'|trans }}</span>
        </button>
        <button type="submit" class="btn btn-primary">{{ 'project.show.contact.create.form_field.submit'|trans }}</button>
    </div>
    {{ form_end(contactForm) }}
{% endblock %}
