<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/logo/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/logo/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/logo/favicon/favicon-16x16.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <title>Fast MDB - {% block title %}{{ 'dashboard.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{# @var user \App\Entity\User #}
{% set connectedUser = app.user %}
<body>
    <div id="app">
        <div id="sidebar" class="active">
            {% include "_partials/_sidebar.html.twig" %}
        </div>
        <div id="main" class='layout-navbar'>
            <div id="main-content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('main') }}
    {% endblock %}
</body>
</html>
