{% extends 'base.html.twig' %}
{% block body %}
<div class="page-heading">
    <h3>{{ 'dashboard.title'|trans }}</h3>
</div>
    {% if demo_mode == true %}
        {% include 'demo/dashboard/index.html.twig' %}
    {% endif %}

    {{ include('_partials/_flash_message.html.twig') }}
<div class="page-content">
    <section class="row">
        {# Creation project part #}
        <div class="order-lg-1 col-12 col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="cart-title">{{ 'dashboard.project.preview.title'|trans }}</h4>
                        <div class="row">
                            <div class="col-12">
                                {{ form_start(searchBarForm, {'attr': {'class':'address-search-bar'}}) }}
                                <div class="input-group address-search-bar__input-group">
                                    <span class="input-group-text" id="search-address-button">
                                        <i class="bi bi-search"></i>
                                    </span>
                                    {{ form_widget(searchBarForm.address, {'attr':{'class':'form-control dashboard-new-project-search-bar','aria-describedby':'search-address-button'}}) }}
                                    <button class="btn btn-primary" type="submit" id="search-address-button">{{'dashboard.project.preview.form_field.search.submit'|trans}}</button>
                                </div>
                                <div id="address-search-bar__list-group" class="list-group address-search-bar__list-group">

                                </div>
                                {{ form_end(searchBarForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if addressData is not null %}
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            {# Address and urban documents part#}
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <h6>{{ 'project.card.more_information_address'|trans }}</h6>
                                    <p>
                                        {{ addressData.address.name }}
                                        <br>
                                        {{ addressData.address.postCode }} {{ addressData.address.city }}
                                    </p>
                                    <h6>{{ 'project.card.insee_code'|trans }}</h6>
                                    <p>{{ addressData.inseeCode }}</p>
                                    <h6>{{ 'project.card.gps_coordinates.title'|trans }}</h6>
                                    <p>
                                        {{ 'project.card.gps_coordinates.latitude'|trans }} : {{ addressData.latitude }}
                                        <br>
                                        {{ 'project.card.gps_coordinates.longitude'|trans }} : {{ addressData.longitude }}
                                    </p>
                                </div>
                                <div class="col-12 col-md-7">
                                    <h6>{{ 'project.card.urban_document.document_available'|trans }}</h6>
                                    {% if urbanDocuments is null %}
                                        <p>{{ 'project.card.urban_document.no_documents_exist'|trans }}</p>
                                    {% else %}
                                        <ul>
                                            {% for urbanDocument in urbanDocuments %}
                                                <li>{{ urbanDocument.name }} -
                                                    <a href="{{ urbanDocument.archiveLink }}">
                                                        <small>{{ 'project.card.urban_document.download_archive'|trans }}</small>
                                                    </a>
                                                </li>
                                                <ul>
                                                    {% for file in urbanDocument.files %}
                                                        <li><a target="_blank" href="{{ file.link }}">{{ file.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            {# Maps part#}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h6>{{ 'project.card.map.aerial_view_with_casdastral_cut'|trans }}</h6>
                                    <div
                                            id="aerial-map"
                                            data-longitude="{{ addressData.longitude }}"
                                            data-latitude="{{ addressData.latitude }}"
                                    >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h6>{{ 'project.card.map.dynamic_street_view'|trans }}</h6>
                                    <div
                                            id="street-view-map-pano"
                                            data-longitude="{{ addressData.longitude }}"
                                            data-latitude="{{ addressData.latitude }}"
                                    >
                                        <p>{{ 'project.card.map.no_street_view_exist'|trans }}</p>
                                    </div>
                                </div>
                                <div class="mt-3 col-12">
                                    {% include "project/square_meter_price.html.twig" with {'squareMeterPrices' : squareMeterPrices} only %}
                                </div>
                            </div>
                            {# Sales in address area #}
                            <div class="row">
                                <div class="col-12">
                                    {% include "project/sales_in_delimited_area.html.twig" with {'proximitySalesPagination' : proximitySalesPagination} only %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12 justify-content-center d-flex">
                                    {{ form_start(projectFromPreviewForm) }}
                                    {{ form_widget(projectFromPreviewForm.urbanDocuments, {'attr': {'class' : 'visually-hidden'}}) }}
                                    {{ form_widget(projectFromPreviewForm.address, {'attr': {'class' : 'visually-hidden'}}) }}
                                    <button class="btn btn-primary" type="submit" id="create-project-button">{{'dashboard.project.preview.form_field.create_project.submit'|trans}}</button>
                                    {{ form_end(projectFromPreviewForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {# List projects part #}
        <div class="order-lg-0 col-12 col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="cart-title">{{ 'dashboard.project.list.title'|trans }}</h4>
                        {{ form_start(searchProjectForm, {'attr':{'class':'d-flex flex-wrap'}}) }}
                            <div class="row form-group form-group__multiple-select--row order-lg-0 col-lg-12">
                                <div class="col-lg-3">
                                    {{ form_label(searchProjectForm.states,null, {'label_attr':{'class':'col-form-label'}}) }}
                                </div>
                                <div class="col-lg">
                                    {{ form_widget(searchProjectForm.states,{'attr':{'class':'choices form-select multiple-remove'}}) }}
                                </div>
                            </div>
                            <div class="row form-group order-lg-1 col-lg-12">
                                <div class="col-lg-3">
                                    {{ form_label(searchProjectForm.cityOrPostalCode, null, {'label_attr':{'class':'col-form-label'}}) }}
                                </div>
                                <div class="col-lg">
                                    {{ form_widget(searchProjectForm.cityOrPostalCode, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="row form-group order-lg-3 col-lg-9">
                                <div class="col-lg-4">
                                    {{ form_label(searchProjectForm.contactSearch, null, {'label_attr':{'class':'col-form-label'}}) }}

                                    {% set htmlPopover %}
                                        <i class="me-1 fas fa-pen-nib fa-xs"></i>{{ 'contact.type.notary'|trans|capitalize }}
                                        <br>
                                        <i class="me-1 fas fa-hand-holding-usd fa-xs"></i>{{ 'contact.type.seller'|trans|capitalize }}
                                        <br>
                                        <i class="me-1 fas fa-home fa-xs"></i>{{ 'contact.type.estate_agent'|trans|capitalize }}
                                    {% endset %}

                                    <a
                                        data-bs-toggle="popover"
                                        type="button"
                                        tabindex="0"
                                        title="{{ 'dashboard.project.list.contact-tooltip.title'|trans }}"
                                        data-bs-placement="bottom"
                                        data-bs-html="true"
                                        data-bs-trigger="click"
                                        data-bs-content="{{ htmlPopover|e }}"
                                    >
                                        <i class="far fa-question-circle"></i>
                                    </a>
                                </div>
                                <div class="col-lg search-existing-contact">
                                    <div id="search-existing-contact__input-group" class="search-existing-contact__input-group input-group">
                                        {{ form_widget(searchProjectForm.contactSearch.search, {'attr':{'class':'form-control search-existing-contact__search-bar','data-url':url('contact_search', {'contactType':'contact'})}}) }}
                                    </div>
                                    <div class="list-group search-existing-contact__list-group">

                                    </div>
                                </div>
                            </div>
                            <div class="row form-group order-lg-4 col-lg-2 ms-lg-4 ms-0 col-12">
                                <button class="btn btn-primary" type="submit">{{'dashboard.project.list.form_field.search.submit'|trans}}</button>
                            </div>
                            {{ form_rest(searchProjectForm.contactSearch) }}
                        {{ form_end(searchProjectForm) }}
                    </div>
                </div>
            </div>
            <div id="list-projects" class="list-projects">
                {# @var project \App\Entity\Project #}
                {% for project in projectsPagination %}
                <a href="{{ path('project_show', {'id': project.id}) }}">
                    <div class="card px-3 py-2 flex-row mb-3">
                        <div class="w-25 cart-content me-3">
                            <div class="cart-body">
                                <h6>{% if project.goodsType is not null %}
                                        {{ project.goodsType.name }}
                                    {% else %}
                                        {{ 'project.goods_type_not_defined'|trans }}
                                    {% endif %}</h6>
                                <p class="list-projects__p">
                                    {{ project.address.inlineAddress }}
                                </p>
                            </div>
                        </div>
                        <div class="cart-content">
                            <div class="cart-body">
                                <p class="list-projects__p">
                                    {{ 'project.fields.state'|trans|capitalize }} : {{ ('project.state.value.'~project.state)|trans }}
                                    <br>
                                    {{ 'project.fields.estate_agent'|trans|capitalize }} :
                                    {% if project.estateAgent is not null %}
                                        {% set estateAgent = project.estateAgent %}{{ estateAgent.fullname }} {% if estateAgent.estateAgencyName is not null %}({{ estateAgent.estateAgencyName }}){% endif %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                <nav id="list-projects-pagination">
                    {{ knp_pagination_render(projectsPagination) }}
                </nav>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addressSearchBar') }}
    {{ encore_entry_script_tags('choices') }}
    {{ encore_entry_script_tags('contactSearchBar') }}

    {% if addressData is not null %}
        {{ encore_entry_script_tags('streetViewMap') }}
        {{ encore_entry_script_tags('aerialViewMap') }}
    {% endif %}
{% endblock %}
