{% extends 'base.html.twig' %}
{% block body %}
<div class="page-heading">
    <h3>{{ 'dashboard.title'|trans }}</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="cart-title">{{ 'dashboard.project.list.title'|trans }}</h4>
                        <p class="card-text">Coming soon</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h4 class="cart-title">{{ 'dashboard.project.create.title'|trans }}</h4>
                        <div class="row">
                            <div class="col-12 col-md-12 search-bar">
                                <div class="input-group search-bar__input-group">
                                    <span class="input-group-text" id="search-address-button">
                                        <i class="bi bi-search"></i>
                                    </span>
                                    <input id="dashboard-new-project-search-bar" type="text" class="form-control" placeholder="{{ 'dashboard.project.create.search_bar.placeholder'|trans }}" aria-describedby="search-address-button">
                                    <button class="btn btn-primary" type="button" id="search-address-button">{{'dashboard.project.button.go'|trans}}</button>
                                </div>
                                <div id="search-bar__list-group" class="list-group search-bar__list-group">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addressSearchBar') }}
{% endblock %}
