{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.user.edit.title'|trans({'%userFullname%':user.getFullName()}) }}{% endblock %}

{% block body %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>{{ 'admin.user.edit.title'|trans({'%userFullname%':user.getFullName()}) }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <section class="section row">
        <div class="col-12 col-lg-5">
            <div class="card">
                <div class="card-body">
                    {{ include('user/_form.html.twig', {'button_label': 'admin.user.button.update'|trans}) }}
                </div>
                <div class="card-footer">
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    <a class="btn icon icon-left btn-outline-primary" href="{{ path('user_index') }}"><i class="bi bi-chevron-left"></i><span>{{ 'admin.company.button.back_to_list'|trans }}</span></a>
</div>
{% endblock %}
