{% extends 'base_email.html.twig' %}

{% block content %}
    <h1>{{ 'email.account_create.content.header'|trans }}</h1>
    <p>{{ 'email.account_create.content.your_account_has_been_created_with_email'|trans({'%email%':userEmail}) }}</p>
    <p>{{ 'email.account_create.content.before_your_first_connection_reset_password'|trans }}</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ url('app_forgot_password_request') }}">{{ 'email.account_create.content.request_reset_password_link'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>{{ 'email.account_create.content.thanks'|trans }}</p>
{% endblock %}
